tqdm
numpy
numba
torch
pillow
pandas
openpyxl
pydicom
PySide6
SQLAlchemy
matplotlib
bottleneck
torchvision
scikit-image
photoshopapi
scikit-learn
alpha_shapes
opencv-python
segmentation-models-pytorch
